.catalog {
    .title {
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: #0d0d0d;
    }
    padding-bottom: 71px;
    &__tabs {
        margin: 0 auto;
        width: 643px;
        padding: 49px 0 0 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        padding-left: 0;
        
    }
    &__tab {
        width: 222px;
        height: 52px;
        border: solid 2px #d0d0d0;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 48px;
        text-align: center;
        color: #6b6b6b;
        transform: skewX(-25deg);
        cursor: pointer;
        margin: 0 5px;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 8px $main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color:#fff;
            background-color: $main-color;
            border: none;
        }
    }

    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        position: relative;
        width: 303px;
        height: 442px;
        margin-bottom: 20px;
        border: solid 2px #e8e8e8;
        padding: 20px 20px 21px 20px;
        overflow: hidden;
        img {
            display: block;
            margin: 0 auto;
            width: 140px;
            height: 200px;
        }
        &__subtitle {
            font-weight: bold;
            text-align: center;
            color: #0d0d0d;
            margin-top: 15px;
        }
        &__descr {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0d0d0d;
            margin-top: 15px;
        }
        &__link {
            display: block;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: #c70101;
            margin-top: 10px;
        }
        &__oldprice {
            font-size: 14px;
            font-weight: 300;
            text-align: left;
            color: #555;
            text-decoration: line-through;
        }
        &__price {
            font-size: 20px;
            font-weight: 900;
            text-align: left;
            color: #050505;
        }
        hr {
            background-color: #e8e8e8;
            width: 263px;
            margin: 17px auto;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content{
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                font-size: 14px;
                font-weight: 300;
                color: #555;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back {
            position: absolute;
            display: block;
            font-size: 14px;
            transform: translateX(calc(-50% - 12px));
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            color: $main-color;
            text-decoration: underline;
            bottom: 0;
            left: 50%;
        }
    }
    
}